PORT=5000
MONGO_URI=mongodb://localhost:27017/firststep
REDIS_URL=redis://localhost:6379
AI_SERVICE_URL=http://localhost:8000
JWT_SECRET=your_super_secret_jwt_key_here
NODE_ENV=development

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=456789
ADMIN_NAME=FirstStep Admin
